<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saw Aung Kaung Thant</title>

    <!-- Title Icon -->
    <link rel="shortcut icon" href="/assets/brr_logo.png">
    
    <!-- Icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Header -->
    <header class="header" id="header"> 
        <nav class="nav container">
            <a href="#" class="nav__logo">
                Sawney
            </a>
            
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="/" class="nav__link active-link">
                            <i class="ri-home-5-line"></i> Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/projects" class="nav__link">
                            <i class="ri-stack-line"></i> Projects
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/contact" class="nav__link">
                            <i class="ri-message-3-line"></i> Contact
                        </a>
                    </li>
                </ul>

                <!-- Close button -->
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>  

            <div class="nav__buttons">
                <!-- Theme change button -->
                <i class="ri-moon-line change-theme" id="theme-button"></i>

                <!-- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-2-line"></i>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main -->
    <main class="main">
        <!-- home -->
        <section class="home section" id="home">
                <div class="home__container container grid section__border">
                    <div class="home__data grid">
                        <h1 class="home__title">
                            Hi, I'm Sawney <br>
                            An Aspiring Coder <br>
                            Based in <span class="text-light"><s>Myanmar</s>,</span> Thailand <br>
                        </h1>

                        <div class="home__blob grid">
                            <div class="home__perfil">
                                <img src="/assets/perfil.png" alt="home perfil">
                            </div>

                        </div>

                        <ul class="home__social">
                            <a href="https://www.instagram.com/yenwass/" target="_blank" class="home__social-link">
                                <i class="ri-instagram-line"></i>
                            </a>
                            <a href="https://github.com/SawneyAung" target="_blank" class="home__social-link">
                                <i class="ri-github-line"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/saw-aung-kaung-thant-7a6a861a4/" target="_blank" class="home__social-link">
                                <i class="ri-linkedin-box-line"></i>
                            </a>
                        </ul>
                    </div>

                    <!-- Home Info 1-->
                    <div class="home__info">
                        <div>
                            <h3 class="home__info-title">
                                BIOGRAPHY
                            </h3>
                            <p class="home__info-description">
                                Hi, I'm Sawney, A student of Rangsit International College.
                                Passionate about programming, designing and developing websites.
                                Based in Myanmar
                            </p>
                        </div>

                        <div>
                            <h3 class="home__info-title">
                                CONTACT
                            </h3>
                            <p class="home__info-description">
                                Yangon, Myanmar <br>
                                saw.a66@rsu.ac.th <br>
                                +66 619462206 <br>
                            </p>
                        </div>

                        <!-- <div>
                            <h3 class="home__info-title">
                                SERVICES
                            </h3>
                            <p class="home__info-description">
                                Web Designing <br>
                                Python Programs<br>
                                Backend Developing<br>
                            </p>
                        </div> -->
                    </div>
                    
                    <!-- Home Info 2 -->
                    <div class="home__info">
                        <div>
                            <h3 class="home__info-title">
                                YEARS OF EXPRIENCE
                            </h3>
                            <p class="home__info-number">
                                0
                            </p>
                        </div>
                        <div>
                            <h3 class="home__info-title">
                                COMPLETED PROJECTS
                            </h3>
                            <p class="home__info-number">
                                2
                            </p>
                        </div>
                        <div>
                            <h3 class="home__info-title">
                                COMPANIES WORKED
                            </h3>
                            <p class="home__info-number">
                                0
                            </p>
                        </div>
                    </div>
                </div>
        </section>

        <!-- skills -->
        <section class="skills section" id="skills">
            <h2 class="section__title">Skills</h2>
            <span class="section__subtitle">My favourite skills</span>

            <div class="skills__container container grid section__border">
                <!-- Skills 1 -->
                <div class="skills__content">
                    <h3 class="skills__title">
                        <i class="ri-braces-line"></i>Backend
                    </h3>
                    <div class="skills__info">
                        <div class="skills__data">
                            <div class="skills__blob">
                                <img src="/assets/node.svg" alt="skills image">
                            </div>

                            <h3 class="skills__name">Node</h3>
                            <span class="skills__subtitle">Basic</span>
                        </div>
                        <div class="skills__data">
                            <div class="skills__blob">
                                <img src="/assets/express.svg" alt="skills image">
                            </div>
                            
                            <h3 class="skills__name">Express</h3>
                            <span class="skills__subtitle">Basic</span>
                        </div>
                        <div class="skills__data">
                            <div class="skills__blob">
                                <img src="/assets/sql.svg" alt="skills image">
                            </div>
                            
                            <h3 class="skills__name">SQL</h3>
                            <span class="skills__subtitle">Basic</span>
                        </div>
                    </div>
                </div>
                <!-- Skills 2 -->
                <div class="skills__content">
                    <h3 class="skills__title">
                        <i class="ri-braces-line"></i>Frontend
                    </h3>

                    <div class="skills__info">
                        <div class="skills__data">
                            <div class="skills__blob">
                                <img src="https://cdn.cdnlogo.com/logos/h/84/html.svg" alt="skills image">
                            </div>

                            <h3 class="skills__name">HTML</h3>
                            <span class="skills__subtitle">Intermediate</span>
                        </div>
                        <div class="skills__data">
                            <div class="skills__blob">
                                <img src="https://logospng.org/download/css-3/logo-css-3-1536.png" alt="skills image">
                            </div>

                            <h3 class="skills__name">CSS</h3>
                            <span class="skills__subtitle">Intermediate</span>
                        </div>
                        <div class="skills__data">
                            <div class="skills__blob">
                                <img src="https://cdn.worldvectorlogo.com/logos/javascript-1.svg" alt="skills image">
                            </div>

                            <h3 class="skills__name">JavaScript</h3>
                            <span class="skills__subtitle">Basic</span>
                        </div>
                        <div class="skills__data">
                            <div class="skills__blob">
                                <img src="/assets/react.svg" alt="skills image">
                            </div>

                            <h3 class="skills__name">React</h3>
                            <span class="skills__subtitle">Basic</span>
                        </div>
                        <div class="skills__data">
                            <div class="skills__blob">
                                <img src="/assets/bootstrap.svg" alt="skills image">
                            </div>

                            <h3 class="skills__name">Bootstrap</h3>
                            <span class="skills__subtitle">Basic</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Qualification -->
        <section class="qualification section" id="qualification">
            <h2 class="section__title">Qualification</h2>
            <span class="section__subtitle">Experience & Education</span>

            <div class="qualification__container container grid section__border">
                <!-- Qualification 1 -->
                <div class="qualification__content">
                    <h3 class="qualification__title">
                        <i class="ri-pencil-line"></i>Education
                    </h3>

                    <div class="qualification__info">
                        <div>
                            <h3 class="qualification__name">
                                <u><a href="https://www.freecodecamp.org/certification/Sawney/responsive-web-design" class="text-normal" target="_blank">freeCodeCamp Responsive Web Design</a></u>
                            </h3>
                            <span class="qualification__country">Thailand</span>
                            <span class="qualification__year">2025</span>
                        </div>

                        <div>
                            <h3 class="qualification__name">
                                IGCSE
                            </h3>
                            <span class="qualification__country">Myanmar</span>
                            <span class="qualification__year">2023</span>
                        </div>

                    </div>
                </div>

                <!-- Qualification 2 -->
                <div class="qualification__content">
                    <h3 class="qualification__title">
                        <i class="ri-star-line"></i>Experience
                    </h3>

                    <div class="qualification__info">
                        <div>
                            <h3 class="qualification__name">
                                Work 1
                            </h3>
                            <span class="qualification__country">work 1 country</span>
                            <span class="qualification__year">work 1 year span</span>
                        </div>
                        <div>
                            <h3 class="qualification__name">
                                Work 2
                            </h3>
                            <span class="qualification__country">work 2 country</span>
                            <span class="qualification__year">work 2 year span</span>
                        </div>
                        <div>
                            <h3 class="qualification__name">
                                Work 3
                            </h3>
                            <span class="qualification__country">work 3 country</span>
                            <span class="qualification__year">work 3 year span</span>
                        </div>
                    </div>
                </div>
            </div>

            <img src="trophy.svg" alt="qualification image" class="qualification__img">
        </section>

        <!-- Services
        <section class="services section" id="services">
            <h2 class="section__title">Services</h2>
            <span class="section__subtitle">What I offer</span>

            <div class="services__container container grid section__border">
                <div class="services__card">
                    <i class="ri-layout-2-line"></i>

                    <h2 class="services__title">
                        Boosting <br>
                        Accounts
                    </h2>

                    <p class="services__description">
                        Service that provides the best quality and is the request of the client, with professional work and customer support.
                    </p>

                    <div class="services__border"></div>
                </div>
                <div class="services__card">
                    <i class="ri-code-s-slash-line"></i>

                    <h2 class="services__title">
                        Python <br>
                        Programs
                    </h2>

                    <p class="services__description">
                        Service that provides the best quality and is the request of the client, with professional work and customer support.
                    </p>

                    <div class="services__border"></div>
                </div>
                <div class="services__card">
                    <i class="ri-user-add-line"></i>

                    <h2 class="services__title">
                        Duo <br>
                        Boosting
                    </h2>

                    <p class="services__description">
                        Service that provides the best quality and is the request of the client, with professional work and customer support.
                    </p>

                    <div class="services__border"></div>
                </div>
            </div>
        </section> -->

        <!-- Projects -->
        <section class="projects section" id="projects">
            <h2 class="section__title">Projects</h2>
            <span class="section__subtitle">Most recent work</span>

            <div class="container section__border">
                <div class="projects__container swiper">
                    <div class="swiper-wrapper">
                        <!-- Project 1 -->
                        <div class="projects__content swiper-slide">
                            <img src="/assets/study-planner-with-pomodoro.png" alt="" class="projects__img">

                            <div>
                                <h1 class="project__title">Study Planner with Pomodoro</h1>

                                <a href="https://study-planner-with-pomodoro.onrender.com/" class="projects__button" target="_blank">
                                    View demo <i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        </div>

                        <!-- Project 3 -->
                        <div class="projects__content swiper-slide">
                            <img src="/assets/movie-review.png" alt="" class="projects__img">

                            <div>
                                <h1 class="project__title">Movie Reviews</h1>

                                <a href="https://movie-app-week11.onrender.com/" class="projects__button" target="_blank">
                                    View demo <i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        </div>

                        <!-- Project 3 -->
                        <div class="projects__content swiper-slide">
                            <img src="https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/2017Q2/project-planning-header@2x.png" alt="" class="projects__img">

                            <div>
                                <h1 class="project__title">Insert Project 3 Title</h1>

                                <a href="#" class="projects__button">
                                    View demo <i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        </div>

                        <!-- Project 4 -->
                        <div class="projects__content swiper-slide">
                            <img src="https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/2017Q2/project-planning-header@2x.png" alt="" class="projects__img">

                            <div>
                                <h1 class="project__title">Insert Project 4 Title</h1>

                                <a href="#" class="projects__button">
                                    View demo <i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    

                    <!-- Swiper Arrows -->
                    <div class="swiper-button-next">
                        <i class="ri-arrow-right-s-line"></i>
                    </div>

                    <div class="swiper-button-prev">
                        <i class="ri-arrow-left-s-line"></i>
                    </div>

                    <!-- Swiper Pagination -->
                    <div class="swiper-pagination"></div>    
                </div>
            </div>
        </section>


        <!-- Contact -->
        <section class="contact section" id="contact">
            <h2 class="section__title">Contact Me</h2>
            <span class="section__subtitle">Get in touch</span>
            <div class="contact__container container items-center section__border">
                <div class="contact__content">
                    <form class="contact__form" id="contact-form">
                        <a href="/contact" class="contact__button items-center">
                            Contact <i class="ri-arrow-right-up-line"></i>
                        </a>
                    </form>
                </div>
            </div>
        </section>

    </main>

    <!-- scroll up -->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line"></i>
    </a>

    <!-- scroll reveal -->
    <script src="/script/scrollreveal.min.js"></script>

    <!-- swiper js -->
    <script src="/script/swiper-bundle.min.js"></script>

    <!-- email js -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

    <!-- main js -->
    <script src="/script/script.js"></script>

</body>
</html>