<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saw Aung Kaung Thant</title>

    <!-- Title Icon -->
    <link rel="shortcut icon" href="/assets/brr_logo.png">
    
    <!-- Icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Header -->
    <header class="header" id="header"> 
        <nav class="nav container">
            <a href="#" class="nav__logo">
                Sawney
            </a>
            
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="/" class="nav__link">
                            <i class="ri-home-5-line"></i> Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/projects" class="nav__link active-link">
                            <i class="ri-stack-line"></i> Projects
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/contact" class="nav__link">
                            <i class="ri-message-3-line"></i> Contact
                        </a>
                    </li>
                </ul>

                <!-- Close button -->
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>  

            <div class="nav__buttons">
                <!-- Theme change button -->
                <i class="ri-moon-line change-theme" id="theme-button"></i>

                <!-- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-2-line"></i>
                </div>
            </div>
        </nav>
    </header>

    <main class="main">
        <!-- Projects -->
        <section class="projects section" id="projects">
            <h2 class="section__title">Projects</h2>
            <span class="section__subtitle">Most recent work</span>
            
            <div class="skills__container container grid">
                <!-- Project 1 -->
                <div class="skills__content">                    
                    <div class="projects__content">
                            <img src="/assets/study-planner-with-pomodoro.png" alt="" class="projects__img">

                        <div>
                            <h1 class="project__title">Pomodoro Study Planner with Timer</h1>

                            <a href="https://study-planner-with-pomodoro.onrender.com/" class="projects__button" target="_blank"> 
                                View demo <i class="ri-arrow-right-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Project 2 -->
                <div class="skills__content">
                    <div class="projects__content">
                            <img src="/assets/movie-review.png" alt="" class="projects__img">

                        <div>
                            <h1 class="project__title">Movie Reviews</h1>

                            <a href="https://movie-app-week11.onrender.com/" class="projects__button" target="_blank">
                                View demo <i class="ri-arrow-right-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact -->
        <section class="contact section" id="contact">
            <h2 class="section__title">Contact Me</h2>
            <span class="section__subtitle">Get in touch</span>
            <div class="contact__container container items-center">
                <div class="contact__content">
                    <form class="contact__form" id="contact-form">
                        <a href="/contact" class="contact__button items-center">
                            Contact <i class="ri-arrow-right-up-line"></i>
                        </a>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <!-- scroll reveal -->
    <script src="/script/scrollreveal.min.js"></script>

    <!-- swiper js -->
    <script src="/script/swiper-bundle.min.js"></script>

    <!-- email js -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

    <!-- main js -->
    <script src="/script/script.js"></script>
</html>